[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cron"]
	path = cron
	url = git@github.com:davidmarble/cookbook-cron.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "java"]
	path = java
	url = https://github.com/opscode-cookbooks/java.git
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "mercurial"]
	path = mercurial
	url = https://github.com/opscode-cookbooks/mercurial.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:davidmarble/cookbook-nginx.git
[submodule "openssh"]
	path = openssh
	url = https://github.com/opscode-cookbooks/openssh.git
[submodule "utils"]
	path = utils
	url = git@github.com:davidmarble/cookbook-utils.git
[submodule "python"]
	path = python
	url = git@github.com:davidmarble/cookbook-python.git
[submodule "rsync"]
	path = rsync
	url = https://github.com/opscode-cookbooks/rsync.git
