[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cron"]
	path = cron
	url = git@github.com:davidmarble/cookbook-cron.git
[submodule "apt"]
	path = apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "yum"]
	path = yum
	url = https://github.com/opscode-cookbooks/yum.git
[submodule "git"]
	path = git
	url = https://github.com/opscode-cookbooks/git.git
